<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">

    <script type="text/javascript" src="vendor/cordova.js"></script>
    <script type="text/javascript" src="vendor/liger.js"></script>
    <script type="text/javascript" src="vendor/page.js"></script>
    
    <script type="text/javascript" src="assets/js/lib/jquery.js"></script>
    <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/underscore.js"></script>
    <script type="text/javascript" src="assets/js/common/common.js"></script>
    <script type="text/javascript" src="assets/js/pages/session.js"></script>

</head>
<body>

    <script type="text/x-underscore" id='sessionTemplate'>
        <h2><a class="series-info"><%- session.name %></a></h2>
        <h3><%- session.speaker.name %></h3>
        <p><%- session.description %></p>
        <p><%- displayDateTime(session.datetime) %> in <%- session.location %></p>
    </script>

    <div class="container">
        <!-- Example row of columns -->
        
        <div class="row">
            <div class="col-md-12" id="page-content">
                
            </div>
        </div>
    </div>

	<script>
        PAGE.initialize("session");
    </script>
</body>
</html>
